<div class="container-fluid custom-upper-body">
  <div class="row">
    <div class="col-md-3 custom-board">
      <%= turbo_frame_tag "board" do %>
        <div class="centered-container c-board">
          <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i>
        </div>
      <% end %>
    </div>
    <div class="col-md-9 custom-main">
      <%= render "users/shared/navbar" %>
      <%= turbo_frame_tag "main", src: users_podcasts_path, loading: :lazy do %>
        <div class="centered-container c-main">
          <i class="fa-solid fa-spinner fa-spin-pulse fa-2xl"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 custom-media">
      <%= turbo_frame_tag "media" do %>
        Placeholder for Media player
      <% end %>
    </div>
  </div>
</div>
