<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      Placeholder for Confession index views
    </div>
    <div class="col-md-9" id="main">
      <%= render "users/shared/navbar" %>
      <%= turbo_frame_tag "main" do %>
        Placeholder for main index views
      <% end %>
    </div>
  </div>
</div>
