.profile-card {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 500;

  .btn-edit {
    padding: 4px 40px;
    border-radius: 17px;
    border: 1.5px solid #000000;
    color: #1f7564;
    &:hover {
      background-color: #1f7564;
      color: aliceblue;
    }
  }

  hr {
    margin-top: 0;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    --bs-card-spacer-x: 2rem;
  }

  .user_info__body {
    padding-top: 0;
    .card {
      max-width: 95%;
      .row {
        margin-top: 2rem;
      }
    }
  }

  h1 {
    flex-grow: 1;
    margin-top: 1rem;
    color: #1f7564;
    font-weight: bold;
  }

  .card_title_with_chevron {
    a {
      color: #1f7564;
      margin-left: 2rem;
    }
  }
}

.form-user {
  select,
  input,
  option {
    font-size: 1.5rem;
    min-width: 9.6em;
  }
  option {
    padding: 0px;
  }
  .col {
    margin: 1rem auto;
  }
}

.user-table {
  th {
    color: #1f756478;
  }
}

#paginate-user-table {
  a {
    color: #1f7564;
  }

  .page-item.active a {
    background-color: #1f7564;
    border-color: #1f7564;
    color: white;
  }
}
