<h1>Editing podcast album</h1>

<%= render "form", podcast_album: @podcast_album %>

<br>

<div>
  <%= link_to "Show this podcast album", @podcast_album %> |
  <%= link_to "Back to podcast albums", podcast_albums_path %>
</div>
