<p style="color: green"><%= notice %></p>

<div class="container-fluid">
  <div class="card text-green" style="margin-top: 50px; border-radius: 15px">
    <div class="card-body" style="padding: 30px">
      <div class="row">
    <div class="col-8">
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-primary button_hover text_green border_green" style="border-bottom-left-radius: 0; border-top-left-radius: 0">SEARCH</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button class="btn btn-primary bg_green border_green button_hover" id='btnShowCreateModal'><i class="fa-solid fa-plus"></i> New Album</button>
    </div>
    </div>
    </div>
  </div>
  <div id="podcast_albums" class="card" style="margin-top: 50px; border-radius: 15px">
    <div class="card-body">
      <h1 class="text_green">Podcast albums</h1>
      <table class = 'table mx-auto table-condensed text-center align-middle text-green'>
        <thead>
        <tr class="table-light">
          <th scope="col">ID</th>
          <th scope="col">Album Name</th>
          <th scope="col">Username</th>
          <th scope="col">Updated At</th>
          <th scope="col" colspan="2"></th>
        </tr>
        </thead>
        <tbody id="album_table">
        <%= render 'admins/podcast_albums/partials/album_table', podcast_albums: @podcast_albums %>
        </tbody>
      </table>
<!--      <br>-->
<!--      <div class="pagination justify-content-center">-->
        <%#= paginate @podcast_albums %>
<!--      </div>-->
    </div>
  </div>
</div>

<!-- Modal create-->
<div id="modalCreateAlbum" class="modal hide fade">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text_green">Create</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= render 'admins/podcast_albums/partials/form', podcast_album: @podcast_album %>
    </div>
  </div>
</div>

<!-- Modal edit-->
<div id="modalUpdateAlbum" class="modal hide fade">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<style>
  .bg_green{
      background-color: #1F7564;
  }
  .border_green{
      border-color: #1F7564;
  }
  .text_green{
      color: #1F7564;
  }
  .button_hover:hover, .button_hover:active, .button_hover:focus {
      background-color: #175549;
      border-color: #175549;
  }
  .button_border{
      border-radius: 30px;
  }
</style>
<script type="module">
    $('#btnShowCreateModal').on('click', () => {
        $('#modalCreateAlbum').modal('show');
    })
</script>
