  <div class="modal fade" id="new_podcast_modal" tabindex="-1" aria-labelledby="new_podcast_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <%= turbo_frame_tag "modal_for_podcast"%>
      </div>
  </div>


  