<div class="d-flex justify-content-between show_podcast_album">
    <div class="d-flex">
        <div class="p-2">
            <img src="https://media.pitchfork.com/photos/6500b0b300c361fe1f460f39/1:1/w_320,c_limit/Eli%20Escobar%20-%20The%20Beach%20Album.jpeg" class="album_image">
        </div>
        <div class="p-2 d-flex flex-column">
            <div class="album_name"><%= podcast_album.name%></div>
            <div class="album_date"><%= podcast_album.created_at.strftime("%b %d, %Y")%></div>
        </div>
    </div>
    <div class="ml-auto p-2 d-flex justify-content-around">
        <div><i class="fa-regular fa-heart"></i></div>
        <div><i class="fa-regular fa-bookmark" ></i></i></div>
    </div>
</div>
<hr>
