 

    <%= turbo_frame_tag "modal_for_podcast" do%>
      <center>
          <h1 class="form_title_podcast">Edit podcast</h1>
      </center>
        <%= render "form", podcast: @podcast %>
    <% end %>
