<div id="<%= dom_id confession %>">
  <p>
    <strong>Tag:</strong>
    <%= confession.tag %>
  </p>

  <p>
    <strong>Anonymous:</strong>
    <%= confession.anonymous %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= confession.content.body %>
  </p>

</div>
