<%= turbo_frame_tag "board" do %>
  <div class="confessions_board">
    <div id="confessions">
      <% @confessions.each do |confession| %>
        <%= render "users/confessions/confession_index", confession: confession %>
      <% end %>
    </div>
  </div>
<% end %>
