<h1>New confession</h1>

<%= render "users/confessions/form", confession: @confession, url: users_confessions_path %>

<br>

<div>
  <%= link_to "Back to confessions", users_confessions_path %>
</div>
