<div class="modal fade model_user_counselor" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-dialog-centered">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Counselor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "modal_for_counselor" %>
      </div>
    </div>
  </div>
</div>
<%= turbo_frame_tag "close_model_user" %>
