<div class = "row justify-content-center mt-3 profile-card ">
  <div class="col">
    <div class="card">
      <div class="card_title_with_chevron">
        <a href="<%= admins_counselors_path %>" ><i class="fa-solid fa-chevron-left"></i></a>
        <h1 class="text-center" >Edit Counselor</h1>
      </div>
      <div class="row justify-content-center card-body pt-0">
        <div class="max_width_80">
          <%= turbo_frame_tag "modal_for_counselor" do  %>
            <%= render 'shared/flash' %>
            <%= render "admins/counselors/partials/form", counselor: @counselor %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
