<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom color_header">
    <div class="container-fluid">
        <button class="btn " onclick="CloseMenu()" >
            <%# <i class="fa-solid fa-ellipsis"></i> %>
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item active"><a class="nav-link" href="#!">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">Link</a>
                </li>
                <li class="nav-item dropdown">
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function CloseMenu(){
        let menu = document.getElementById("sidebar-wrapper")
        if (menu) {
            let displayValue = window.getComputedStyle(menu).getPropertyValue("display");
            if (displayValue != 'none')
            {
                menu.style.display = "none";
            }
            else menu.style.display = "block";
        }
    }

//    function CloseMenu() {
//     let menu = document.getElementById("sidebar-wrapper");
//     if (menu) {
//         let displayValue = window.getComputedStyle(menu).getPropertyValue("display");
//         let width = menu.offsetWidth;
//         if (width !== 0) {
//             // Nếu menu đang hiển thị, thì thụt vào trong
//             menu.style.animation = "slideOut 0.5s ease-out";
//             menu.style.animationFillMode = "forwards"; // Giữ lại trạng thái cuối cùng của animation
//             menu.style.width = "0"; // Kích thước cuối cùng của menu khi thụt vào trong

//             // Ẩn các thẻ con của menu
//             let menuItems = menu.querySelectorAll(".nav-item");
//             menuItems.forEach(function (item) {
//                 item.style.display = "none";
//             });
//         } else {
//             // Nếu menu đã ẩn hoàn toàn, thì hiển thị lại
//             menu.style.animation = "slideIn 0.5s ease-out";
//             menu.style.animationFillMode = "forwards"; // Giữ lại trạng thái cuối cùng của animation
//             menu.style.width = "22%"; // Kích thước ban đầu của menu

//             // Hiển thị lại các thẻ con của menu
//             let menuItems = menu.querySelectorAll(".nav-item");
//             menuItems.forEach(function (item) {
//                 item.style.display = "block";
//             });
//         }
//     }
// }


</script>



