<div class="border-end bg-white sidenav nav_side" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light top_admin_page">Admin Page</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"> 
          <span>
            <i class="bi bi-house-door-fill"></i>
          </span>
          Dashboard
        </a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 btn_dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <span>
              <i class="bi bi-person-fill"></i>
            </span>
            Page
          </button>
          <div class="dropdown-menu  list-group-item-action list-group-item-light list_dropdown" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item item_down" href="#">Home Page</a>
            <a class="dropdown-item item_down" href="#">Mục 2</a>
            <a class="dropdown-item item_down" href="#">Mục 3</a>
          </div>
        </div>
    </div>
</div>