<div class="border-end bg-white sidenav" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Admin Page</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>
        <div class="dropdown">
          <button class=" dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chọn một mục
          </button>
          <div class="dropdown-menu  list-group-item-action list-group-item-light list_dropdown" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Home Page</a>
            <a class="dropdown-item" href="#">Mục 2</a>
            <a class="dropdown-item" href="#">Mục 3</a>
          </div>
        </div>
        <%# <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Shortcuts</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Overview</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a> %>
    </div>
</div>

