<div id="<%= dom_id room %>">
  <div id="conversations">
    <% room.conversations.each do |conversation| %>
        <%= render "users/conversations/partials/conversation", 
          conversation: conversation, 
          user: current_user %>
    <% end %>
  </div>
  <%= render "users/conversations/partials/form"%>
</div>