@import url('https://fonts.googleapis.com/css?family=League+Spartan');
.container {
  font-family: "League Spartan", sans-serif;;
  margin-top: 5%;
}

.form-title {
  color: #1F7564;
  font-size: 50;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #1F7564;
  border-radius: 3px;
  background-color: #fff;
  color: #1F7564;
}

.card-body {
  padding: 30px;
  color: #1F7564;
}

.label {
  font-size: 20;
  font-weight: bold;
}

.form-check-input:checked {
  background-color: #1f7564;
  border-color: #1f7564;
}

.form-control {
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  color: #1F7564;
}

.btn {
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 125px;
  margin-top: 20px;
  margin-bottom: 45px;
}


