.index_of_album {
  margin: 0px;
  padding: 10px;
  .card {
    height: 100%;
  }
  .container-scroll {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    .col {
      flex-grow: 1;
      box-sizing: border-box;
    }
  }
  .text_podcast {
    margin-top: 15px;
  }
  .text_podcast_recent {
    margin-top: 50px;
  }
  .album_title {
    font-size: 18;
    color: #1f7564;
    font-weight: bold;
    font-family: "Signika", sans-serif;
  }
  .button_show_all {
    color: #d8508e;
    font-weight: bold;
    font-size: 10;
    text-decoration: none;
  }
}
.button_show_album {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #1a1a1a;
}

.album_homepage_detail {
  margin-right: 20px;

  background-color: #aee3b9;
  border-radius: 10px;
  .album-avatar {
    width: 170px;
    height: 180px;
    margin: 20px 10px 10px 10px;

    border-radius: 15px;
    position: relative;
    object-fit: cover;
  }
  .album_info {
    margin-left: 13px;
    .album_title_album_name {
      font-size: 20px;
      font-weight: bold;
    }
    .album_title_user_name {
      font-size: 15px;
      opacity: 0.5;
    }
  }
}
.pink {
  background-color: #efb5d0;
}

.album_showpage {
  .width_id_col {
    width: 5%;
  }
  border: 0;
  .bookmark-clicked {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
  .heart_podcast_albums {
    margin-right: 1.5rem;
    width: 40px;
    cursor: pointer;
  }
  .bookmark_podcast_albums {
    width: 35px;
    cursor: pointer;
  }
  .stroke-red {
    path {
      stroke: #ff5a4c;
    }
  }

  .text_opacity_50 {
    opacity: 50%;
    color: #1a1a1a;
  }

  .fill-red {
    path {
      fill: #ff5a4c;
    }
  }

  p {
    margin-bottom: 0.5rem;
  }

  .play::before,
  .pause::before {
    color: #ffffff;
    cursor: pointer;
    font-size: 60px;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .album_image_col {
    min-width: 220px;
    padding-right: 1rem;
  }

  .album_play {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2rem;
    h3 {
      color: #ffffff;
      opacity: 0.5;
      font-weight: bold;
    }
  }
  .card-header {
    border: 0;
    border-radius: 0;
    background-color: #1f7564;
  }

  .card-body {
    border: 1px solid #00000021;
    border-radius: 0 0 10px 10px;
    border-top: 0px;
  }
  .album_info {
    p {
      color: rgba(255, 255, 255, 0.616);
      margin-bottom: 0.5rem;
    }
  }

  .table-responsive {
    max-height: 500px;
  }
}
