body {
  font-family: 'League Spartan', sans-serif;
}

.text-color-green {
  color: #1f7564;
}

form {
  margin: 0 auto;
}

.btn-submit {
  background-color: #1f7564;
  border-color: white;
  border-radius: 1.5rem;
  font-size: 3.5vh;
}

.input-login {
  height: 7vh;
  border-radius: 02px;
  border-color: #1f7564;
}

.input-login::placeholder{
  opacity: 0.5;
}

.form-check-input:checked {
  background-color: #1f7564;
  border-color: #1f7564;
}

