
.podcast_form_container{
    padding: 0;
    margin: 0;
    .album-avatar {
      border-radius: 50%;
      width: 200px; 
      height: 200px; 
      margin-bottom: 25px;
      position: relative;
      object-fit: cover;
    }
    .form_podcast_label {
      font-size: 20px;
    }
    .form_podcast_textfield {
      font-size: 20px;
    }
    .button_close {
      font-size: 18px; 
      margin: 10px 5px 25px 25px;
    }
    .button_add{
      background-color: #1F7564; 
      color: #fff; 
      border: 2px solid #1F7564; 
      font-size: 18px; 
    }
}

.show_podcast_album {
  margin: 5px;
  .button_hidden_album {
    background-color: transparent; 
    border: none; 
    width: 100%;
    .podcast_album_image {
      border-radius: 5px;
      width:70px;
      height: 70px;
      position: relative;
      object-fit: cover;
    }
    .album_name{
      font-size: 20px;
      color: black;
      font-weight: bold;
    }
    .album_date{
      font-size: 18px;
      color: black;
    }
  }
  i {
    width: 25px;
    color: black;
  }
}



.show_podcast_detail {
  .scrolling-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    
    .col-3 {
      flex-grow: 1;
      padding: 10px; 
      box-sizing: border-box;
    }
  }
  .item {
    .podcast_image {
      border-radius: 7px;
      width: 180px;
      height: 150px;
      position: relative;
      object-fit: cover;

    }
    .podcast_name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    .podcast_author {
      font-size: 20px;
      color: gray;
      margin-bottom: 3px;
    }
    .album_name {
      font-size: 20px;
      color: gray;
      margin-bottom: 3px;
    }
  }
}


.podcast_album_form {
  margin-top: 5%;
  .podcast_album_label {
      font-size: 20px;
  }
  .podcast_album_text{
      margin: 5px 25px;
  }
  .album-avatar {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    margin-bottom: 25px;
    position: relative;
    object-fit: cover;
  }

  .button_add {
      background-color: #1F7564; 
      color: #fff; 
      font-size: 18px; 
      margin-top: 15px;
  }
  .button_close {
      color: #fff; 
      font-size: 18px; 
      margin-top: 15px;
      margin-right: 15px;
  }
}

.show_podcast {
  .row {
    .card_index{
      height: 65vh;
      .body_index{
        padding-right: 20px;
        .index_text {
          font-size: 20px;
          text-align: center;
        }
        .card_album{
          .body_album {
            max-height: 60vh; 
            overflow-y: scroll;
          }
        }
      }
    }
    .button_create_podcast {
      margin: 15px 0px;
    }
    #recent_podcasts_frame {
      display: flex;
      overflow-x: auto; 
      white-space: nowrap; 
      .row.show_podcast_detail {
        width: 50%;
        .col-3 {
          width: 25%;
        }
      }
    }
  }
}

.button_show_podcast {
  text-decoration: none;
}

.form_title {
  color: #1F7564;
    font-size: 20px;
    font-weight: bold;
}

.form_title_podcast {
  color: #1F7564;
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
}

