.item_room_join{
    display: flex;
    justify-content: center;
    height: 17vh;
    width: 17vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item_join{
    display: flex;
    flex-direction: column; /* Đặt hướng cột */
    justify-content: center; /* Canh giữa theo chiều ngang */
    // align-items: center; /* Canh giữa theo chiều dọc */
    text-align: center;
}

.btn_join{
  width: 9vh;
}

.paginate_room_join{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.mini_menu{
    margin: 3vh;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vh;
  }

.room_btn_search{
  border-color: #1F7564;
  color: #1F7564;
}

.room_btn_search:hover{
  border-color: #1F7564;
  background-color: #1F7564;
  color: white;
}

.join_room_button{
  background-color: #1F7564;
  border-color: #1F7564;
}

.join_room_button:hover, .join_room_button:active{
  background-color: #16594b;
  border-color: #16594b;
}

.join_room_button:disabled{
  background-color: #328879;
  border-color: #328879;
}

.out_room_page h1{
  color: #1F7564;
}

