*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
}

footer {
  background-color: var(--color-background);
  color: var(--color-text-header);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
  margin-bottom: 24px;

  h3 {
    font-size: var(--font-size-l);
    font-weight: bolder;
    margin-bottom: 12px;
  }

  a {
    color: var(--color-text-body);
    font-size: var(--font-size-s);
    font-weight: bolder;
    text-decoration: none;
    transition: color 200ms;
    line-height: 2;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-primary);
    }
  }

  a.facebook {
    &:hover,
    &:focus,
    &:active {
      color: var(--color-blue);
    }
    margin-top: 12px;
  }

  a.youtube {
    &:hover,
    &:focus,
    &:active {
      color: var(--color-red);
    }
    margin-top: 12px;
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
  }
}
