*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-right: 0 !important;
}

div {
  &.custom_body {
    flex-grow: 1;
  }

  &.custom_board {
    padding: 0;
  }

  &.custom_menu {
    margin: 10px;
    font-family: var(--font-family-sans);
    color: var(--color-primary);
    font-weight: bolder;
    line-height: var(--line-height-main);
    border: var(--border);
    border-radius: var(--border-radius);
    ul {
      list-style-type: none;
      margin-bottom: 0;
      li {
        margin: 10px 0;
        a {
          color: var(--color-primary);
          text-decoration: none;
          transition: color 200ms;
          &:hover,
          &:focus,
          &:active {
            color: var(--color-pink);
          }
        }
        i {
          margin-right: 10px;
          &.fa-plus {
            margin-top: 8px;
            float: right;
          }
        }
      }
    }
  }

  &.custom_main {
    padding: 0 10px 10px 10px;
  }

  &.centered_container {
    display: flex;
    justify-content: center;
    align-items: center;
    &.centered_confession_frame {
      height: 25vh;
    }

    &.centered_board {
      height: 50vh;
    }

    &.centered_main {
      height: 65vh;
    }
  }
}

turbo-frame#new_confession_frame {
  display: inline-block;
  width: 100%;
  padding: 10px;
  div {
    &.new_confession {
      overflow: hidden;
      padding: 10px;
      border: var(--border);
      border-radius: var(--border-radius);
      height: 20vh;
      h1, h4 {
        font-family: var(--font-family-sans);
        color: var(--color-primary);
        font-style: italic;
      }
      button.new_confession {
        width: 100%;
        height: 10vh;
        margin-top: 10px;
        background-color: var(--color-white);
        transition: color 200ms;
        color: var(--color-gray);
        font-weight: bolder;
        font-size: var(--font-size-l);
        border: var(--border);
        border-radius: 15px;
        &:hover,
        &:focus,
        &:active {
          color: var(--color-pink);
          border-color: var(--color-pink);
        }
      }

    }
  }
}

turbo-frame#board {
  display: inline-block;
  width: 100%;
  padding: 10px;
  div {
    &.confessions_board {
      h1, h4 {
        font-family: var(--font-family-sans);
        color: var(--color-primary);
        font-style: italic;
      }
      padding: 10px;
      border: var(--border);
      border-radius: var(--border-radius);
      height: 50vh;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      word-wrap: break-word;
      h5 {
        color: var(--color-primary);
        font-weight: bold;
      }
      .time_ago {
        font-size: var(--font-size-xs);
        font-style: italic;
        color: var(--color-gray);
      }
      .custom_tag {
        margin-bottom: 10px;
        font-style: italic;
      }
      .card {
        margin-bottom: 10px;
        min-height: 35vh;
        .custom_button {
          border-radius: 0;
          &:hover,
          &:focus,
          &:active {
            color: var(--color-primary);
          }
        }
      }
      .confesssion_show {
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        .confession_body {
          flex-grow: 1;
        }
      }
      .confession_show_group {
        width: 100%;
      }
    }
  }
}

turbo-frame#main {
  display: inline-block;
  width: 100%;
}

nav {
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  border-radius: 10px 10px 0 0;
  margin-top: 10px;

  a {
    color: var(--color-white);
    transition: color 200ms;
    margin-left: 4px;
    margin-right: 4px;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-glint);
    }

    &.custom_signup {
      background-color: var(--color-primary);
      color: var(--color-white);
      font-size: var(--font-size-l);
      font-weight: bolder;
      border-radius: 30px;
      padding: 4px 20px;

      &:hover,
      &:focus,
      &:active {
        color: var(--color-pink);
      }
    }

    &.custom_signin {
      color: var(--color-pink);
      font-size: var(--font-size-l);
      font-weight: bolder;
      border-radius: 30px;
      padding: 4px 20px;

      &:hover,
      &:focus,
      &:active {
        color: var(--color-primary);
      }
    }
  }

  span.custom_navigator {
    color: var(--color-white);
    transition: color 200ms;
    margin-left: 4px;
    margin-right: 4px;

    &:hover,
    &:focus,
    &:active {
      color: var(--color-glint);
    }
  }

  button.navbar-toggler {
    border-radius: 25px;
    background-color: var(--color-white);
    border: var(--border);
    padding: 8px 12px;
    margin-left: 12px;
  }
}

footer {
  background-color: var(--color-primary-bg);
  color: var(--color-black);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
  margin-bottom: 24px;

  h3 {
    font-size: var(--font-size-l);
    font-weight: bolder;
    margin-top: 12px;
  }

  a {
    color: var(--color-gray);
    font-size: var(--font-size-s);
    font-weight: bolder;
    text-decoration: none;
    transition: color 200ms;
    line-height: var(--line-height-main);

    &:hover,
    &:focus,
    &:active {
      color: var(--color-primary);
    }

    &.facebook {
      &:hover,
      &:focus,
      &:active {
        color: var(--color-facebook-blue);
      }
      margin-top: 12px;
    }

    &.youtube {
      &:hover,
      &:focus,
      &:active {
        color: var(--color-youtube-red);
      }
      margin-top: 12px;
    }
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
  }

  span.spacing {
    display: inline-block;
    margin: 12px;
  }

  div.justify_content {
    display: flex;
    justify-content: center;
    div {
      width: 130px;
    }
  }
}

form {
  .pickerContainer {
    position: relative;
    z-index: 9998;
  }
  .trix-button-group--file-tools {
    display: none;
  }
  trix-editor {
    height: 40vh;
  }
}

form.confession_form {
  label {
    color: var(--color-primary);
  }
  input.form {
    margin-top: 10px;
    &.custom_btn {
      color: var(--color-primary);
      border: var(--border);
      border-radius: var(--border-radius);
    }
  }
  .form-switch {
    line-height: 2.5;
  }
}
